
node_modules
node_modules
src/assets/img/Screenshot 2023-01-20 at 11.12.20 AM.png
src/assets/img/Screenshot 2023-01-20 at 11.23.57 AM.png
src/assets/img/Screenshot 2023-01-20 at 11.29.07 AM.png
src/assets/img/Screenshot 2023-01-20 at 11.35.45 AM.png
src/assets/img/Screenshot 2023-01-20 at 11.41.20 AM.png
src/assets/img/Screenshot 2023-01-20 at 11.45.51 AM.png
src/assets/img/trees.jpg
src/assets/img/waves.jpg
src/assets/img/waves.mp4
src/assets/img/waves2.jpg
node_modules

# Local Netlify folder
.netlify
