img {
  height: 150px;
  padding-bottom: 0;
  border-radius: 50%;
}

.hero {
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1
}

.container {
  position: relative;
  height: 90vh;
}
