/* .video-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -100;
  overflow: hidden;
  transition: 100s;
}

.video-background video {
  position: absolute;
  top: 0%;
  left: 0%;
  min-width: 100%;
  min-height: 100%;
  width: 100vw;
  height: 100vh;
  object-fit: fill;
  z-index: -100;
  transition: 20s ease-in-out;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: opacity 0.2s;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: -99;
}

.overlay.show {
  opacity: 0.75;
} */

.container {
  background-image: ('src/assets/img/trees.jpg')
}
