<div class="d-flex flex-column h-100 w-100">
  <div class="bg-image">
    <app-header></app-header>
    <div
      class="d-flex flex-column flex-grow-1 align-items-center justify-content-center">
      <!-- <app-video-background></app-video-background> -->
      <router-outlet></router-outlet>


    </div>
    <footer class="container text-light py-3 text-center w-100">
      <div id="copyright">
        <span class="copyright">&copy; 2023 Tumaini David Ussiri</span>
      </div>
    </footer>

  </div>
</div>
