ul.social-media-icons {
    margin-left: 10px;
    padding: 0;
    list-style-type: none;
}

ul.social-media-icons li {
    display: inline-flex;
    margin-right: 10px;
}

.social-media-icons {
    font-size: 24px;

}

.social-media-icons a i {
    color: #64ffda
}

.dropdown-menu {
    transition: opacity 1s ease-in-out;
    opacity: 0;
}


.dropdown-menu.show {
    position: relative;
    opacity: 1;
}
