/* You can add global styles to this file, and also import other style files */
html,
body {
  width: auto;
  max-height: 80%;
}

body {
  font-family: 'Abhaya Libre', serif;
  justify-content: center;
}




.vw-90 {
  width: 90vw;
}

.vw-80 {
  width: 80vw;
}

.vw-70 {
  width: 80vw;
}

.min-vh-10 {
  min-height: 10vh;
}

footer.container {
  position: relative;
  margin-top: 25vh;
  width: 100%;
  justify-content: center;
  font-family: 'Abhaya Libre', serif;
}

/* Default style for the scroll bar */
::-webkit-scrollbar {
  width: 10px;
  background-color: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 5px;
}

/* Style for narrow screens */
@media (max-width: 768px) {
  ::-webkit-scrollbar {
    width: 5px;
    background-color: transparent;
  }

  ::-webkit-scrollbar-thumb {
    background-color: #ccc;
    border-radius: 2.5px;
  }
}

/* Style for very narrow screens */
@media (max-width: 400px) {
  ::-webkit-scrollbar {
    display: none;
  }
}

/*
h5 {
  font-size: 1.5vw;
}
h1 {
  font-size: 3vw;
} */
/* In this file, you ensure that html and body take full-page heights and widths.
You also make Nunito the default font and include various style classes for setting widths and heights. */
/* Style the video: 100% width and height to cover the entire window */
